params {
  fastaDir = "$launchDir/data/fastas/"
  vcfDir = "$launchDir/data/vcfs/"
  outputDir = "$launchDir/test"
  // Either gtf or gff
  databaseFileType = "gtf"
  databaseFile = "$launchDir/data/Mus_musculus.GRCm39.107.gtf.gz"
  sequenceFile = "$launchDir/data/Mus_musculus.GRCm39.dna.toplevel.fa.gz"
}

docker {
    enabled = true
    runOptions = '--user root'
}

