params {
  fastaDir = "$launchDir/data/fastas/"
  vcfDir = "$launchDir/data/vcfs/"
  outputDir = "$launchDir/output"
  makepositionarraycoding = "$launchDir/bin/makepositionarraycoding.pl"
}

process {
  withName: 'makeIndex' {
    container = 'docker://veupathdb/dnaseqanalysis'
  }
  withName: 'runSamtools' {
    container = 'docker://biocontainers/samtools:v1.9-4-deb_cv1'
  }
  withName: 'mergeVcfs' {
    container = 'docker://biocontainers/bcftools:v1.9-1-deb_cv1'
  }
}

singularity {
    enabled = true
}

